# Agent Configuration
AGENT__UNIVERSITY_NAME="Universidad Mayor de San Simon (UMSS)"
# model
AGENT__MODEL__PROVIDER=nebius
AGENT__MODEL__NAME="openai/gpt-oss-120b-fast"
AGENT__MODEL__API_KEY="[model-api-key]"
# router model
AGENT__ROUTER_MODEL__PROVIDER=nebius
AGENT__ROUTER_MODEL__NAME="openai/gpt-oss-120b-fast"
AGENT__ROUTER_MODEL__API_KEY="[model-api-key]"

AGENT_MAX_SEARCH_RETRIES=5
AGENT_MAX_RESPONSE_TOKENS=1024
# IA Services
NEBIUS__API_KEY="[model-api-key]"
# Database
DATABASE__URL="postgresql+asyncpg://postgres:postgres@localhost:5432/botcachino"