# Agent Configuration
AGENT_UNIVERSITY_NAME="Universidad Mayor de San Simon (UMSS)"
AGENT_MODEL__NAME="openai/gpt-oss-120b-fast"
AGENT_ROUTER_MODEL__NAME="openai/gpt-oss-120b-fast"
AGENT_MAX_SEARCH_RETRIES=5
AGENT_MAX_RESPONSE_TOKENS=1024
# IA Services
NEBIUS_API_KEY=v1.CmMKHHN0YXRp.....
# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/botcachino
