# Agent Configuration
AGENT__UNIVERSITY_NAME="Universidad Mayor de San Simon (UMSS)"
# model
AGENT_MODEL__NAME="openai/gpt-oss-120b-fast"
AGENT_MODEL__API_KEY="[model-api-key]"
# router model
AGENT_ROUTER_MODEL__NAME="openai/gpt-oss-120b-fast"
AGENT_ROUTER_MODEL__API_KEY="[model-api-key]"

AGENT_MAX_SEARCH_RETRIES=5
AGENT_MAX_RESPONSE_TOKENS=1024
# IA Services
NEBIUS__API_KEY="[model-api-key]"
# Database
DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/botcachino"
